.footer {
    font-size: 15px;
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
    
    
}

.icons {
    font-size: 30px;
    margin: 2px;
    position: fixed;
    bottom: 0;
           
}

a {
    color: white
}




